body {
  margin: 0;
  padding: 0;
  background-color: #3b0e84; /* Set a background color for the body */
  font-family: "Arial", sans-serif; /* Set a default font-family */
}

.App {
  text-align: center;
}

.progressbar {
  margin-top: 50px;
  font-size: 24px;
  color: #841616;
}
